header{

    background-image: radial-gradient(circle at 69% 86%, rgba(165, 165, 165,0.06) 0%, rgba(165, 165, 165,0.06) 25%,rgba(193, 193, 193,0.06) 25%, rgba(193, 193, 193,0.06) 50%,rgba(221, 221, 221,0.06) 50%, rgba(221, 221, 221,0.06) 75%,rgba(249, 249, 249,0.06) 75%, rgba(249, 249, 249,0.06) 100%),radial-gradient(circle at 49% 76%, rgba(129, 129, 129,0.06) 0%, rgba(129, 129, 129,0.06) 25%,rgba(164, 164, 164,0.06) 25%, rgba(164, 164, 164,0.06) 50%,rgba(200, 200, 200,0.06) 50%, rgba(200, 200, 200,0.06) 75%,rgba(235, 235, 235,0.06) 75%, rgba(235, 235, 235,0.06) 100%),radial-gradient(circle at 22% 64%, rgba(173, 173, 173,0.06) 0%, rgba(173, 173, 173,0.06) 25%,rgba(119, 119, 119,0.06) 25%, rgba(119, 119, 119,0.06) 50%,rgba(64, 64, 64,0.06) 50%, rgba(64, 64, 64,0.06) 75%,rgba(10, 10, 10,0.06) 75%, rgba(10, 10, 10,0.06) 100%),linear-gradient(307deg, rgb(255,255,255),rgb(255,255,255));

    nav{
        background: #fff;
        padding: 1rem;
        
        
        .logo{
            width: 13%;
            a{
                color:#36647A ;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1.2px;
            }
        }
        .main__nav{
            width:50%;

            a{
                display: inline-block;
                padding: 1rem 1rem;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: bold;

            }
            .active{
                color:#36647A ; 
            }
            
        }

        .sign {
	     width: 37%;

             ul{
            justify-content: flex-end;
            }

            a{
               display: inline-block;
                padding: 1rem 1rem;
                text-transform: capitalize;
                font-size: 1.4rem;
                font-weight: bold; 
                color: #333;
            }
        }
    }
    
}

.services__section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

    .container{
        background: #ffffff;
        
        .service{
            padding: 6rem 0;
            h3{
                font-size: 1.8rem;
                text-transform: capitalize;
                color: #45526c;
                margin-bottom: 1.5rem;
            }
            p{
                color:#45526c;
            }
        }
    }
}

.hero__content{
    .hero__subtitle{
         color:#36647A ; 
         text-transform: capitalize;
    }

    .title{
         color:#36647A ; 
         margin-bottom: 2rem;
    }
    .para{
        color: #333;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
}



.plan__section{
    padding-top: 2rem;
    padding-bottom: 2rem;

    .heading{

        text-align: center;
        h2{
            text-transform: capitalize;
            color:#36647A ;
            margin-bottom: 3rem;
        }
    }

    .plan{
      background: #fffbfb;
	text-align: center;
	margin: 5rem;
	margin-bottom: 3rem;
	padding: 8rem;
      


        img{
            width: 70%;
            padding: 1rem;
        }

        span{
             color:#36647A ; 
             text-transform: capitalize;
             margin-bottom: 1rem;
        }
        h3{
             color:#36647A ; 
             text-transform: capitalize;
              margin-bottom: .5rem;
        }

        h5{
            color: rgb(34, 73, 95);
             text-transform: capitalize;
             margin-bottom: .5rem;
        }

        p{
            color: rgb(68, 67, 67);
            text-transform: capitalize;
            margin-top: 1rem;
        }


    }
}



.product__section{
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2{
        color: #36647A;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }

    ul{
        list-style-type: square;
      padding: 2rem;

       
    }

    .product__img{
        padding: 8rem;
    }
}



.pricing__section{



    padding-top: 2rem;
    padding-bottom: 2rem;



  

    .shaple__long{
        background: skyblue;
        height: 40vh;
        width: 20%;
        
    }

    .shaple__short{
        background: rgb(116, 95, 209);
        height: 20vh;
        width: 20%;
    }

    h3 {
	text-align: center;
    text-transform: capitalize;
    color: #36647A;
    }
}

.pricing img{
    width: 100%;
}

.pricing.flex {
	align-items: baseline;

    .shape__1{
        padding: 1rem;
    }

    h2{
      
        font-size: 1rem;
        text-transform: capitalize;
       
    }
}


